@page
@model FUNTIK.Pages.NewRecipeModel
@{
    ViewData["Title"] = "NewRecipe";
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Funtic</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <div class="main_window">
        <div class="toolbar">
            <div class="toolbar_inner">
                Новый рецепт
            </div>

            <div class="topnav">
                <a href="#base">Основа</a>
                <a href="#nuts">Орехи</a>
                <a href="#candied_fruits">Цукаты</a>
                <a href="#infusion">Пропитки</a>
                <a href="#impregnations">Начинки</a>
                <a href="#other">Другое</a>
            </div>
        </div>

        <div class="compound">

        </div>

        <div class="base">
            <div class=percents>
                
                <form method="post" >
                    <p>
                        <label>Масса основы:</label><br />
                        <input type="number" name="mass" min="0" value="0" step="any"/>
                    </p>
                    <p>
                        <label>Содержание какао:</label><br />
                        <input type="number" name="cocoapercent" oninput="toggleButton()" min="0" max="100" value="0" step="any" />
                    </p>
                    <p>
                        <label>Содержание какао-масла:</label><br />
                        <input type="number" name="fatpercent" oninput="toggleButton()" min="0" max="100" value="0" step="any" />
                    </p>
                    <p>
                        <label>Содержание сахара:</label><br />
                        <input type="number" name="sugarpercent" oninput="toggleButton()" min="0" max="100" value="0" step="any" />
                    </p>
                    <p>
                        <label>Содержание молока:</label><br />
                        <input type="number" name="milkpercent" oninput="toggleButton()" min="0" max="100" value="0" step="any" />
                    </p>

                    <input type="submit" asp-page-handler="Base" id="send" value="Отправить" disabled="" />
                </form>
                <h2>@Model.Message</h2>
            </div>
        </div>

        <form method="post">
            <table>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <tr>
                        <td>
                            <input id="@ingredient.MetaIngredient.Name" type="checkbox" name="Ingredient" value="@ingredient.MetaIngredient.Name" checked="checked" />
                        </td>
                        <td>
                            <label for="@ingredient.MetaIngredient.Name">@ingredient.MetaIngredient.Name</label>
                        </td>
                    </tr>
                }
            </table>
            <br />
            <input type="submit" value="Submit" asp-page-handler="Nuts" />
        </form>

    </div>
</body>
</html>